$logo-color: #000000;
$primary-white-color: #ffffff;
$title-color: #212121;
$primary-text-color: #757575;
$footer-link-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$bkg-accent-color: #2f303a;
$icon-color: #afb1b8;
